<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
		<rule name="redirect: Rule 10" stopProcessing="true">    <match url="(.*)" />
    <conditions logicalGrouping="MatchAll">
        <add input="{HTTP_HOST}" pattern="^(mpiresearch\.com|www\.mpiresearch\.com)$" />
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    </conditions><action type="Redirect" url="https://www.criver.com/insights/charles-river-completes-acquisition-mpi-research" appendQueryString="false" /></rule>
		    
		    
           <conditions logicalGrouping="MatchAll">
        <add input="{HTTP_HOST}" pattern="^(atlanbio\.com|www\.atlanbio\.com)$" />
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    </conditions><action type="Redirect" url="https://www.criver.com/atlanbio-now-part-charles-river" appendQueryString="false" /></rule>

 </rules>
        </rewrite>
    </system.webServer>
</configuration>
