<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
		<!-- 
		     ************************
		     ************************
		     ***Accugenix section ***
		     ************************
		     ************************
		 -->
		<rule name="redirect: accugenix" stopProcessing="true">
			<match url="(.*)" />
    			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(accugenix\.com|www\.accugenix\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://www.criver.com/" appendQueryString="false" />
        	</rule>
		<!-- 
		     ***************************
		     ***************************
		     ***MPI Research section ***
		     ***************************
		     ***************************
		 -->
		<rule name="redirect: mpiresearch" stopProcessing="true">
			<match url="(.*)" />
    			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(mpiresearch\.com|www\.mpiresearch\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://www.criver.com/insights/charles-river-completes-acquisition-mpi-research" appendQueryString="false" />
        	</rule>
		<!-- 
		     ***********************
		     ***********************
		     ***Atlanbio section ***
		     ***********************
		     ***********************
		 -->
		<rule name="redirect: atlanbio" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(atlanbio\.com|www\.atlanbio\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://www.criver.com/atlanbio-now-part-charles-river" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ***********************
		     ***********************
		     ***Citoxlab section ***
		     ***********************
		     ***********************
		 -->
		 <rule name="redirect: citoxlab" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(citoxlab\.com|www\.citoxlab\.com|citoxlab\.fr|www\.citoxlab\.fr)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/citoxlab-now-part-charles-river" appendQueryString="false" />
		 </rule>
		 <!-- 
		     *************************
		     *************************
		     ***Agiluxlabs section ***
		     *************************
		     *************************
		 -->
		 <rule name="redirect: agiluxlabs" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(agiluxlabs\.com|www\.agiluxlabs\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/" appendQueryString="false" />
		 </rule>
		 <!-- 
		     *******************************
		     *******************************
		     ***Argentadiscovery section ***
		     *******************************
		     *******************************
		 -->
		 <rule name="redirect: argentadiscovery" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(argentadiscovery\.com|www\.argentadiscovery\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/discovery-services" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ***********************
		     ***********************
		     ***Biofocus section ***
		     ***********************
		     ***********************
		 -->
		 <!--
		 <rule name="redirect: biofocus" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(biofocus\.com|www\.biofocus\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/discovery-services" appendQueryString="false" />
		 </rule>
		 -->
		 <!-- 
		     *****************************
		     *****************************
		     ***Bluestreamlabs section ***
		     *****************************
		     *****************************
		 -->
		 <rule name="redirect: bluestreamlabs" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(bluestreamlabs\.com|www\.bluestreamlabs\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/biologics-testing-solutions/protein-characterization" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ****************************
		     ****************************
		     ***Brains-online section ***
		     ****************************
		     ****************************
		 -->
		 <rule name="redirect: brains-online" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(brains-online\.com|www\.brains-online\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/insights/acquisition-brains-line-expands-neuroscience-services-portfolio" appendQueryString="false" />
		 </rule>
		 <!-- 
		     *********************
		     *********************
		     ***Celsis section ***
		     *********************
		     *********************
		 -->
		 <rule name="redirect: celsis" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(celsis\.com|www\.celsis\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/qc-microbial-solutions/microbial-detection" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ***********************
		     ***********************
		     ***Chantest section ***
		     ***********************
		     ***********************
		 -->
		 <rule name="redirect: chantest" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(chantest\.com|www\.chantest\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/discovery-services/in-vitro-assays/ion-channel" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ************************
		     ************************
		     ***Encepharm section ***
		     ************************
		     ************************
		 -->
		 <rule name="redirect: encepharm" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(encepharm\.de|www\.encepharm\.de)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/insights/acquisition-brains-line-expands-neuroscience-services-portfolio" appendQueryString="false" />
		 </rule>
		
		 <!-- 
		     ***************************
		     ***************************
		     ***Microgenetix section ***
		     ***************************
		     ***************************
		 -->
		 <rule name="redirect: microgenetix" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(microgenetix\.com\.au|www\.microgenetix\.com\.au)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/microgenetix-now-part-charles-river" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ***********************
		     ***********************
		     ***Oncotest section ***
		     ***********************
		     ***********************
		 -->
		 <rule name="redirect: oncotest" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(oncotest\.com|www\.oncotest\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/discovery-services/vivo-pharmacology/oncology-pharmacology-models/patient-derived-xenografts-pdx" appendQueryString="false" />
		 </rule>
		 <!-- 
		     **************************
		     **************************
		     ***Wilresearch section ***
		     **************************
		     **************************
		 -->
		 <rule name="redirect: wilresearch" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(wilresearch\.com|www\.wilresearch\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/safety-assessment" appendQueryString="false" />
		 </rule>
		 <!-- 
		     ***********************************
		     ***********************************
		     ***discovery.criver.com section ***
		     ***********************************
		     ***********************************
		 -->
		 <rule name="redirect: discovery.criver.com" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(discovery\.criver\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://www.criver.com/products-services/discovery-services" appendQueryString="false" />
		 </rule>
		 <!-- 
		     **********************************
		     **********************************
		     ***helpline.criver.com section ***
		     **********************************
		     **********************************
		 -->
		 <rule name="redirect: helpline.criver.com" stopProcessing="true">
			<match url="(.*)" />
   			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(helpline\.criver\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			 <action type="Redirect" url="https://secure.ethicspoint.com/domain/media/en/gui/7590/index.html" appendQueryString="false" />
		 </rule>
		    <!-- 
		     ************************
		     ************************
		     ***QCMicro section ***
		     ************************
		     ************************
		 -->
		<rule name="redirect: qcmicro" stopProcessing="true">
			<match url="(.*)" />
    			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(qcmicro\.com|www\.qcmicro\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://events.criver.com/event/d750765e-a392-420b-b492-690dfd61d6ca/summary" appendQueryString="false" />
        	</rule>
		     <!-- 
		     ************************
		     ************************
		     ***ToxExpo section ***
		     ************************
		     ************************
		 -->
		<rule name="redirect: toxexpo" stopProcessing="true">
			<match url="(.*)" />
    			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(toxexpo\.criver\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://www.criver.com/59th-annual-society-toxicology-meeting-and-toxexpo-sot" appendQueryString="false" />
        	</rule>
		    <!-- 
		     ***************************
		     ***************************
		     ***** AccelLab section ****
		     ***************************
		     ***************************
		 -->
		<rule name="redirect: accellab" stopProcessing="true">
			<match url="(.*)" />
    			<conditions logicalGrouping="MatchAll">
        			<add input="{HTTP_HOST}" pattern="^(accellab\.com|www\.accellab\.com)$" />
        			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    			</conditions>
			<action type="Redirect" url="https://www.criver.com/accellab-now-part-charles-river?utm_source=accellab.com&amp;utm_medium=referral&amp;utm_campaign=sa-accellab-website-redirect" appendQueryString="false" />
        	</rule>
	    </rules>
        </rewrite>
    </system.webServer>
</configuration>
