<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="redirect: Rule 10" stopProcessing="true"><match url="^.*$" /><action type="Redirect" url="https://www.criver.com/insights/charles-river-completes-acquisition-mpi-research" appendQueryString="false" /></rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
